<div class="container-fluid shadow--top footer__header">
  <div class="row">
    <div class="footer text-center col-xs-12">
      <div class=" footer__title">Contact Us</div>
      <ul>
        <li>
          <a href="/index/contact"> Email</a>
        </li>
      </ul>
    </div>
  </div>
</div>
