<!--Start Nav-->
<div class="shadow nav">
  <a class="nav__item" href='/index'>Home</a>
  <a class="nav__item" href='/index/about'>About</a>
  <a class="nav__item" href='/index/contact'>Contact</a>
  <!--<a class="nav__item" href='/index/blog'>Blog</a>-->
<!--
{{#if loggedIn}}
    <a class="nav__item--login" href='/index/login'>Logout</a>
{{else}}
  <a class="nav__item--login" href='/index/login'>Login</a>
{{/if}}
-->
</div>
<!--End Nav-->
