<div class="page">
  <div id="about__card" class="shadow card">
    <div class="row">

      {{#each sections}}
        <!--Start Section-->
        <div class="col-xs-12 col-md-4">
          <!--Start Card-->
          <div class="shadow card">
            <!--Start section header-->
            <div class="shadow section__header">
              <!--Start Section Title-->
              <div class="section__title">
                {{title}}
              </div>
              <!--End Section Title-->
            </div>
            <!--End Section Header-->
            <!--Start section Content-->
            <div class="section__content">
              {{content}}
            </div>
            <!--End Section Content-->
          </div>
          <!--End Card-->
        </div>
        <!--End Section-->
      {{/each}}

    </div>
  </div>
</div>
