<div class="page">
  <div id="about__card" class="shadow card">
    <div class="row">
      <!--Start Section-->
      {{#each sections}}
        <div class="col-xs-12 col-md-4">
          <div class="shadow card margin--bottom">
            <div class="shadow section__header">
              <div class="section__title">
                {{title}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="section__content">
                  {{content}}
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
              <!--End Section-->
    </div>
  </div>
</div>
