<div class="page">
  <div class="shadow center card__background">
    <div class="shadow section__header">
      <div class="section__text">
        <h1>About Us</h1>
      </div>
    </div>
    <div class="row">
      <div class="card--background">
        <div class="col-xs-12 col-md-4">
          <div class="shadow card">
            <div class="section__header">
              <div class="section__text">Our Team </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="shadow card">
            <div class="section__header">
              <div class="section__text">
                Our Advantage
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">

          <div class="shadow card">
            <div class="section__header">
              <div class="section__text">Our Commitment </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
