<!--Start page-->
<div class="page">
  <!--Start Dashboard-->
  <div id="dashboard" class="row">
    <!--Start page links-->
    <div class="col-xs-12 col-md-8">
      <!--Start About Us-->
      <div class="row">

        <div class="col-xs-12">

          <div id="aboutUs" class="shadow card">
            <!--Start Link-->
            <a href="/index/about">
              <!--Start Section Header-->
              <div class="shadow section__header">
                <!--Start Section Title-->
                <div class="section__title">
                  About Us
                </div>
                <!--End Section Title-->
              </div>
              <!--End Section Header-->
              <!--Start Section Content-->
              <div class="section__content">
                <div id="home__image--about">
                </div>
              </div>
              <!--End Section Content-->
            </a>
            <!--End Link-->
          </div>

        </div>

      </div>
      <!--End About Us-->
      <div class="row">
        <div class=" col-xs-12 col-sm-6">
          <a href="/index/contact">
            <div id="contact" class="shadow  card margin--bottom">
              <!--Start Section Header-->
              <div class="shadow section__header">
                <!--Start Section Title-->
                <div class="section__title">
                  Contact
                </div>
                <!--End Section Title-->
              </div>
              <!--End Section Header-->
              <div class="section__content">
                <div id="home__image--contact">
                </div>
              </div>

            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div id="services" class="shadow  card margin--bottom">
            <div class="shadow section__header">
              <!--Start Section Title-->
              <div class="section__title">
                Our Services
              </div>
              <!--End Section Title-->
            </div>
            <div class="section__content">
              <div id="home__image--services">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--End Page Links-->
    <!--Start Blog-->
    <div class="col-xs-12 col-md-4">
      <div id="blog" class="shadow card">
        <div class="shadow section__header">
          <!--Start Section Title-->
          <div class="section__title">
            Our Blog
          </div>
          <!--End Section Title-->
        </div>
        <div class="section__content">

          {{#each posts}}
            <div class="shadow card">
              <div class="shadow section__header">
                <div class="section__title">
                  {{title}}
                </div>
              </div>
              {{content}}
            </div>
          {{/each }}
        </div>
      </div>
    </div>
    <!--End Blog-->
  </div>
  <!--End Dashboard-->
</div>
<!--End Page-->
