<div id="dashboard" class="page">
  <div class="row">


    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-12">
          <a href="/index/about">
            <div id="aboutUs" class="shadow card margin--bottom">
              <div class="shadow section__header">
                <div class="section__title">
                  About Us
                </div>
              </div>
              <div id="home__image--about" class="home__image section__content">

              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class=" col-xs-12 col-sm-6">
          <a href="/index/contact">
            <div id="contact" class="shadow  card margin--bottom">
              <div class="shadow section__header">
                <div class="section__title">
                  Contact
                </div>
              </div>
              <div id="home__image--contact" class="home__image section__content">
                <img src="/images/contact.jpg" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div id="services" class="shadow  card margin--bottom">
            <div class="shadow section__header">
              <div class="section__title">
                Our Services
              </div>

            </div>
            <img src="/images/services.jpg" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div id="blog" class="shadow card">
        <div class="shadow section__header">
          <div class="section__title">
            Our Blog
          </div>
        </div>
        <div class="blog__container">
          <div class="shadow blogpost--preview">
            <img class="blogpost--preview__image" src="/images/test.jpg" />
            <div class="blogpost--preview__content">
              content
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
