<div class="page">
  <!--Start Dashboard-->
  <div id="dashboard" class="row">
    <div class="col-xs-12 col-md-8">
      <div class="margin--bottom row">
        <div class="col-xs-12">
          <a href="/index/about">
            <!--Start About Us-->
            <div id="aboutUs" class="shadow card">
              <!--Start Section Header-->
              <div class="shadow section__header">
                <!--Start Section Title-->
                <div class="section__title">
                  About Us
                </div>
                <!--End Section Title-->
              </div>
              <!--End Section Header-->
              <div id="home__image--about" class="home__image section__content">
              </div>
            </div>
            <!--End About Us-->
          </a>
        </div>
      </div>
      <div class="row">
        <div class=" col-xs-12 col-sm-6">
          <a href="/index/contact">
            <div id="contact" class="shadow  card margin--bottom">
              <div class="shadow section__header">
                <!--Start Section Title-->
                <div class="section__title">
                  Contact
                </div>
                <!--End Section Title-->
              </div>
              <div id="home__image--contact" class="home__image section__content">
                <img src="/images/contact.jpg" />
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div id="services" class="shadow  card margin--bottom">
            <div class="shadow section__header">
              <!--Start Section Title-->
              <div class="section__title">
                Our Services
              </div>
              <!--End Section Title-->
            </div>
            <img src="/images/services.jpg" />
          </div>
        </div>
      </div>
    </div>
    <!--Start Blog-->
    <div class="col-xs-12 col-md-4">
      <div id="blog" class="shadow card">
        <div class="shadow section__header">
          <!--Start Section Title-->
          <div class="section__title">
            Our Blog
          </div>
          <!--End Section Title-->
        </div>
        <div class="blog__container">
          <div class="shadow blogpost--preview">
            <img class="blogpost--preview__image" src="/images/test.jpg" />
            <div class="blogpost--preview__content">
              content
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Blog-->
  </div>
  <!--End Dashboard-->
</div>
