<div class="shadow nameplate center">
  <div class="nameplate__words">

    <h1>Birdwell Studios</h1>


    <h3>We Make It Work</h3>

  </div>
  <form method="get" action="/index">
    <button class="shadow nameplate__button">Work With Us</button>
  </form>
</div>
