<div class="row page">
  <div class="blog shadow card">
    <div class="shadow section__header">
      <div class="section__title">
        {{title}} </div>

    </div>

    {{author}}
    {{content}}

  </div>
</div>
