
  <div class="center row">
    <div class="col-xs-12 col-md-8">
      <div id="dashboard" class="row">
        <div class="col-xs-12">
          <div id="aboutUs" class="section">
            <div class="section__header">
              <div class="section__text">
                About Us
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-xs-12 col-md-6">
          <div id="contact" class="section">
            <div class="section__header">
              <div class="section__text">

                Contact

              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div id="services" class="section">
            <div class="section__header">
              <div class="section__text">
                Our Services
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div id="blog" class="section">
        <div class="section__header">
          <div class="section__text">
            Our Blog
          </div>
        </div>
      </div>
    </div>
  </div>
