<div class="shadow nameplate center">
  <div class="nameplate__words">
    <div class="nameplate__company">
      Birdwell Studios
    </div>
    <div class="nameplate__slogan">
      We Make It Work
    </div>
  </div>
  <form method="get" action="/index">
    <button class="shadow nameplate__button">Work With Us</button>
  </form>
</div>
