.blog {
  width: 80vw;
  max-height: 85vh;
  margin-bottom: 5vh;
  overflow: hidden;
}

.blog__post {
  position: relative;

  width: 25%;

}

.page{
  height:95vh;
}

.section__header {

}

.section__content {
  max-height: 75vh;
  overflow-y: scroll;
}

.card {
  margin: 210px;
}
