#blog {
  height: 85vh;
  min-height: calc(400px+5vh);
  margin-bottom: 5vh;
}

#dashboard{
  left: 0;
  right: 0;
  position: relative;
  margin: 0 auto 0 auto;

}

#dashboard .card{
max-height: 40vh;
margin-bottom:5vh;
}


#home__image--services {
  background-image: url("/images/services.jpg");
  background-size: 100% 100%;
  background-position: center;
  height: 35vh;
  margin: -10px;
}

#home__image--contact {
  height: 35vh;
  background-image: url("/images/contact.jpg");
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
    margin: -10px;
}

#home__image--about {
  height: 35vh;
  background-image: url("/images/group.jpg");
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
    margin: -10px;
}

.section__content {
  overflow: hidden;
}
.page{padding-bottom:none}
