#aboutUs {
  height: 40vh;
}

#blog {
  height: 85vh;
  min-height: calc(400px+5vh);
  margin-bottom:5vh;
}

#dashboard {
  width: 80vw;
  left: 0;
  right: 0;
  position: relative;
  margin: 0 auto 0 auto;
  margin-bottom:-5vh;
}

#services {
  height: 40vh;
}

#contact {
  height: 40vh;
}

.card {
  overflow: hidden;
  min-height: 300px;
}

#home__image--services {
  background-image: url('/images/services.jpg');
background-size: 100% 100%;
background-position: center;
}
#home__image--contact {
  background-image: url('/images/contact.jpg');
background-size: auto 100%;
background-position: center;
}


#home__image--about {
  background-image: url("/images/group.jpg");
background-size: 100% 100%;
}

.blogpost--preview {
  margin: 20px;
  height: 30vh;
}

.blogpost--preview__image {
  float: left;
  height: 10vh;
  width: 10vh;
}

.blogpost--preview__content {
  height: 5vh;
}

.blog__container {
  height: 100%;
  overflow-y: scroll;
}
